<table class="table table-sm table-striped table-bordered">
<thead>
  <tr>
    <th>Feature</th>
    <th>Users</th>
    <th>%</th>
  </tr>
</thead>
<tbody>
  {{#each features}}
  <tr>
    <th>{{#if link}}<a href="{{link}}">{{name}}</a>{{else}}{{name}}{{/if}}</th>
    <th>{{count}}</th>
    <th>{{percentage count @root.count}}</th>
  </tr>
  {{/each}}
</tbody>
</table>